<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">🎬 Фильмотека</h1>
            <nav class="auth-nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn profile-btn">👤 {{ user.username }}</a>
                    <a href="{% url 'logout' %}" class="btn logout-btn">🚪 Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn login-btn">🔑 Войти</a>
                    <a href="{% url 'register' %}" class="btn register-btn">📝 Регистрация</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <button id="homeButton" onclick="goHome()">🏠 На главную</button>
    <div class="main_all">
        <div class="entrance_all">
            <h1>Регистрация</h1>
            <form method="post" class="entrance">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn_login">Зарегистрироваться</button>
            </form>
            <p class="bttm_text">Уже есть аккаунт? <a href="{% url 'login' %}" class="bttm">Войдите</a></p>
        </div>
    </div>
    <script>
        function goHome() {
            window.location.href = "{% url 'movie_list' %}"; // Замените '/' на URL вашей главной страницы
        }
    </script>
</body>
</html>