<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'cut.png' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">🎬 Фильмотека</h1>
            <nav class="auth-nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn profile-btn">👤 {{ user.username }}</a>
                    <a href="{% url 'logout' %}" class="btn logout-btn">🚪 Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn login-btn">🔑 Войти</a>
                    <a href="{% url 'register' %}" class="btn register-btn">📝 Регистрация</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="profile_all">
        <h1>Личный кабинет</h1>
        <p>Добро пожаловать в ваш личный кабинет!</p>
        <h3>Имя пользователя:</h3><h3>---</h3>
        <div class="recommendations-section">
            <h2>Персональные рекомендации</h2>
            <a href="{% url 'recommendations' %}" class="btn recommend-btn">
                Показать рекомендации
            </a>
        </div>
    </div>
</body>
</html>