/* Основные стили для контейнера */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для списка фильмов */
.movie-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Стили для каждого элемента фильма */
.movie-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(25% - 20px); /* 3 колонки */
}

.movie-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Стили для постера */
.movie-poster {
    text-align: center;
    padding: 10px;
}

.poster {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.no-poster {
    opacity: 0.7;
}

/* Стили для информации о фильме */
.movie-info {
    padding: 10px;
    text-align: center;
}

.movie-title {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.movie-title:hover {
    color: #007bff;
}

/* Стили для блока с деталями фильма */
.movie-details {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.movie-details p {
    margin: 5px 0;
}

/* Стили для навигации по жанрам */
.genre-tabs {
    margin-bottom: 20px;
}

.genre-tabs ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.genre-tabs li {
    background: #007bff;
    border-radius: 5px;
    padding: 10px 15px;
}

.genre-tabs a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.genre-tabs a:hover {
    text-decoration: underline;
}

/* Стили для контейнера кнопки "Личный кабинет" */
.profile-button-container {
    text-align: right; /* Выравнивание кнопки по правому краю */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для кнопки "Личный кабинет" */
.profile-button {
    background-color: #28a745; /* Зелёный цвет */
    color: #fff; /* Белый текст */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закруглённые углы */
    text-decoration: none; /* Убираем подчёркивание */
    font-size: 16px; /* Размер текста */
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

.profile-button:hover {
    background-color: #218838; /* Тёмно-зелёный цвет при наведении */
}